#music-context {
	display: flex;
	flex-direction: column;
	flex:1;
}

#music-context audio {
	margin-left:100px;
	left: 50px;
}

#Jlist {
	overflow:scroll;
	width:100%;
    left: 0px;
    margin-top:30px;
    flex:1;
    padding-left:5px;
}

.Jlist_row [name="ftype"]{
	font-size: 0;
}

.Jlist_row [name="ftype"].Jlist_DIR {
	width:16px;
	height:16px;
	background-image:url("../img/small/folder.jpg");	
}

.Jlist_row [name="ftype"].Jlist_mp3 {
	width:16px;
	height:16px;
	background-image:url("../img/small/music.jpg");	
}

.Jlist_row [name="fname"]{
	margin-left:10px;
	min-height:40px;
}

.Jlist_row [name="size"]{
	margin-left:10px;
}

.Jlist_row [name="cmt"]{
	margin-left:10px;
}
