#music-context {
	display: flex;
	flex-direction: column;
	flex:1;
}

#music-context audio {
	margin-left:100px;
	left: 50px;
}

#Jlist {
	overflow:scroll;
	width:100%;
    left: 0px;
    margin-top:30px;
    flex:1;
}

.Jlist_row [name="ftype"]{
	position:relative;
	float:left;
	width:50px;
	height:30px;
}

.Jlist_row [name="fname"]{
	position:relative;
	float:left;
	margin-left:10px;
	height:40px;
}

.Jlist_row [name="size"]{
	position:relative;
	float:left;
	margin-left:10px;
}

.Jlist_row [name="cmt"]{
	position:relative;
	float:left;
	margin-left:10px;
}
