
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body{
	overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
	color: green;
}

.wrap{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	height:100%;
}

.fm-header {
	height: 100px;
}

.fm-context {
	flex: 1; 
	display: flex;
	overflow:hidden;
}

.fm-footer {
  height: 0px;
}

.fm-header hr{
	float:left;
	width:100%;
	clear:both;
}

.fm-logo {
	position: relative;
	width:17em;
	float: left;
}

.fm-logo a {
	text-decoration: none;
}

.fm-navbar {
	position: relative;
	float: right;
	top: 0.01em;
	padding-left: 2em;
	margin: 0;
	list-style-type: none;
}

.fm-navbar li  {
	display: inline
}

.fm-navbar a {
	float: left;
	width: 3em;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	color: white;
	background-color: purple;
	padding: 0.2em 0.6em;
	border-right: 1px solid white;
}

.fm-navbar a:hover {
	cursor: pointer;
	background-color: #ff3300;
}

.fm-navbar .selected
{
	background-color: #00d9d9;
}

div .fm-login {
	position: relative;
	float: right;
	top: 0em;
}

div .title1 {
	color: green;
	font-size: 1.5em;
}

div .title2 {
	color: blue;
	font-size: 0.8em;
}

.hugeButton {
	font-size: 100px;
	color: rgb(63, 133, 17);
}


#waitmask 
{
	display:none;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index:9999;
	background-color: black;
	opacity: .10;
}

.hidden {
	display:none;
}